/* RaiseComplaint.css */

.complaint-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* White background */
    padding: 30px; /* Adjusted padding */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Adjusted max-width */
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
  }
  .raise-container{
    height: 100%;
  }

  
  .form-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
  }
  
  .complaint-form {
    width: 100%;
  }
  
  .complaint-fields {
    display: flex;
    flex-direction: column;
  }
  
  .form-input,
  .form-textarea {
    margin-top: 8px;
    width: 100%;
    resize: none;
    overflow: auto;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-input:hover,
  .form-textarea:hover,
  .form-input:focus,
  .form-textarea:focus {
    border-color: #1e40af;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .form-textarea {
    height: 120px;
  }
  
  .form-label {
    margin-top: 8px;
    color: #555; /* Text color */
  }
  
  .form-button {
    cursor: pointer;
    margin-top: 16px;
    width: 100%;
    background-color: #007bff; /* Primary button color */
    color: #fff; /* Text color */
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
  
  .form-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  